<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Message Board</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <!-- <script src="jsobjs.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/styles/main.css">


    <script>
        // assuming you have jQuery
        $(document).ready(function(){

            // var favoritePokemon;
            // // the given link is for Bulbasaur's information
            // $.get("https://pokeapi.co/api/v2/pokemon/1/", function(data){     
            //     favoritePokemon = data.name;
            //     console.log("Got my favorite Pokemon: ", favoritePokemon);      // Predict the output!
            // });

            // $( "#target" ).click(function() {
            //     console.log( "Handler for .click() called." );
            //     document.getElementById("other").innerText = myname['name'];
            // });



        }); 
    </script>
    
</head>
<body>

    <div id="wrapper">

        <div class="fluid-container mb-3" role="group" aria-label="Header Buttons">
            <h1>Messages!</h1>
            <a class="btn btn-outline-success" href="/">List All Messages</a>
        </div>

        <div class="border fluid-container">
            <h4>New Message</h4>
            <form action="/messages/insert" method="post">
                <input type="hidden" class="form-control" id="parent_id" name="parent_id" value="">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="poster" name="poster">
                </div>
                <div class="form-group">
                    <label for="age">Message:</label>
                    <input type="text" class="form-control" id="message" name="message">
                </div>
                <div class="btn-group" role="group" aria-label="Post Message Button">
                    <button type="submit" class="btn btn-outline-primary" name="add">Post Message</button>
                </div>
            </form>
        </div>






        <div class="border fluid-container">
            <% if(typeof all_messages == "undefined") { %>
                <%# Show some HTML herefsdfsdf %>
                <h5>No messages defined.</h5>
            <% } else { %>
                <%# Show other html when you send error object sent %>
                <%= all_messages.Count %>
                <br>
                <% for (var m in all_messages) { %>
                    Name: <h4><%= all_messages[m].poster %></h4><br>
                    ID: <%= all_messages[m]._id %> <br>
                    Message: <%= all_messages[m].message %><br>
                    Date: <%= all_messages[m].created_at %><br>
                    <a class="btn btn-outline-danger" href="/messages/destroy/<%= all_messages[m]._id %>">Delete</a> 
                    <br>
                    Comments: <%= all_messages[m].comments.length %><br>
                    <% if(all_messages[m].comments == "undefined") { %>
                        <%# Show some HTML herefsdfsdf %>
                        <h5>No comments defined.</h5>
                    <% } else { %>
                        <br>
                        <%# Show other html when you send error object sent %>
                        <% for (var idx = 0; idx < all_messages[m].comments.length; idx++ ) { %>
                            Name: <%= all_messages[m].comments[idx].poster %> <br>
                            Comment: <%= all_messages[m].comments[idx].comment %> <br>
                            <br>
                        <% } %>
                        <br>
                    <% } %>    

                    <form action="/messages/insert" method="post">
                        <input type="hidden" class="form-control" id="parent_id" name="parent_id" value="<%= all_messages[m]._id %>">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Name" name="poster" value="">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Comment" name="message" value="">
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-outline-primary" name="add">Post Comment</button>
                            </div>
                        </div>
                    </form>
                    <hr>
                <% } %>
            <% } %>    
        </div>

    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <!-- NOPE this needs to be in the header to use jquery in the header -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    
</body>
</html>